name: CI-BlackDuck-SCA-Basic
on:
  push:
    branches: [main, master, develop, stage, release]
  pull_request:
    branches: [main, master, develop, stage, release]
  workflow_dispatch:

jobs:
  build:
    runs-on: [ubuntu-latest]
    steps:
    - name: Checkout Source
      uses: actions/checkout@v4
    - name: Black Duck SCA Scan
      id: black-duck-sca-scan
      uses: blackduck-inc/black-duck-security-scan@v2
      
      ## DETECT Environment Variables
      env:
        DETECT_PROJECT_NAME: ${{ github.event.repository.name }}
        DETECT_PROJECT_VERSION_NAME: ${{ github.event_name != 'pull_request' && github.ref_name || github.event.pull_request.base.ref }}

      with:
        ### SCANNING: Required fields ${{ secrets.BLACKDUCK_URL }} 
        blackducksca_url: "https://10.230.193.3"
        blackducksca_token: ${{ secrets.BLACKDUCK_TOKEN }}
        
        ### SCANNING: Optional fields
        # blackducksca_scan_failure_severities: 'BLOCKER,CRITICAL'

        ### PULL REQUEST COMMENTS
        blackducksca_prcomment_enabled: true
        
        ### FIX PULL REQUEST CREATION
        blackducksca_fixpr_enabled: true
        
        # Required when PR comments, Fix PR or Sarif Upload is enabled
        github_token: ${{ secrets.GITHUB_TOKEN }}

        ### SARIF report generation
        blackducksca_reports_sarif_create: false
        blackducksca_upload_sarif_report: false

        ## OPTIONAL DIAGNOSTICS: Upload logs as build artifact if true
        include_diagnostics: false
        network_ssl_trustAll: true
        detect_args: "--logging.level.detect=DEBUG --blackduck.offline.mode=true"
