
name: bd-sig-action

on:
  pull_request:
    branches: [ main]

env:
  DETECT_PROJECT_NAME: rajesh-action-test
  DETECT_PROJECT_VERSION_NAME: main
  DETECT_POLICY_CHECK_FAIL_ON_SEVERITIES: ALL
  LOGGING_LEVEL_COM_SYNOPSYS_INTEGRATION: DEBUG
  DETECT_TOOLS: DETECTOR
  DETECT_TIMEOUT: 3000
jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Checkout Source
        uses: actions/checkout@v3

      - name: Black Duck PR Scan
        if: ${{ github.event_name == 'pull_request' }}
        uses: synopsys-sig/synopsys-action@v1.4.1
        ### Use below configuration to set specific detect environment variables
        env:
          DETECT_EXCLUDED_DETECTOR_TYPES: GIT
        with:
          include_diagnostics: true
          blackduck_url: ${{ secrets.BLACKDUCK_URL }}
          blackduck_apiToken: ${{ secrets.BLACKDUCK_API_TOKEN }}
          blackduck_scan_full: false
          blackduck_automation_prcomment: true
          github_token: ${{ secrets.GITHUB_TOKEN }}
